/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------*/
/*@font-face {
  font-family: Polly;
  src: url(Fonts/polly-regular.woff);
}*/

html {
	background-color: white;
	max-width: 100%;
	overflow-x: hidden;
}

.container {
  font-family: Montserrat, Arial, Verdana, sans-serif;
	background-color: #fff;            /*#e0f2f1*/
}

header {
	background-color: white;
}

section {
  min-height: 700px;
}

.home {
  height: 500px;
	background-image: url(Images/landing_page_portfolio_1.svg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
}

.logo-name {
  display: inline-block;
  padding: 10px 0;
  font-family: Montserrat, Arial, Verdana, sans-serif;
  font-size: 2.5em;
	text-transform: uppercase;
	color: #072230;
}

.navbar {
  float: right;
  padding: 10px 0;
}

.navbar-item {
  display: inline-block;
  line-height: 3.125vw;
  font-family: Montserrat, Arial, Verdana, sans-serif;
	text-transform: uppercase;
	color: #072230;
	font-size: 1em;
	padding: 0 10px;
}

.navbar-item:hover {
	background-color: #072230;
	color: white;
}

.navbar-item a {
  text-decoration: none;
	color: black;
}

.main-title {
  font-size: 5em;      /* 5em*/
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
	width: 75%;
	position: absolute;
	top: 27%;
	left: 13%;
	text-transform: uppercase;
	background-color: #072230;
	color: #ff7070;
	border: 1px solid #ff7070;
	font-family: Montserrat, sans-serif;
	line-height: normal;
	/*box-shadow: 0 0 10px gray;*/
}

.section-title {
  margin: 0 auto;
  text-align: center;
  font-size: 2.2em;
	text-transform: uppercase;
	padding-top: 22px;
	display: block;
	color: #072230;
}

.about-me {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.left-panel {
	/*max-width: 50%;*/
	flex: 1;
	background-color: #ffffff;    /*#036359*/
	color: #072230;
}

.right-panel {
	/*max-width: 50%;*/
	flex: 1;
	background-color: #ff7070;
	color: white;
	align-self: stretch;
}

.about-rt-wrapper {
	margin-top: 100px;
}

.about-lft-wrapper {
	margin-top: 100px;
}

#skills {												/*Skills title*/
	color: #ffffff;
}

.subtitle-skills {
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3em;
}

.about-p {												/*Content in About section*/
	font-size: 1.1em;
	font-family: Montserrat, sans-serif;
	line-height: 1.5;
	margin: 20px 40px;
	font-weight: 300;
	text-align: center;
}

.list1, .list2 {
	margin: 20px auto;
	width: 31%;
	list-style-position: inside;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 1px;
	text-align: center;
}

.list2 {
	margin-top: 10px;
}

.work {
	background-color: #072230;
}

.subtitles {
	padding: 10px 0;
	margin: 20px 60px;
	background-color: #072230;
	color: #ff7070;
	text-transform: uppercase;
	font-size: 1.35em;
	text-align: center;
	text-decoration: underline;
}
/*------projects-----*/
#work-title {
	color: #ff7070;
	font-size: 2.5em;
}

.flex-container {
	display: flex;
	align-items: center;
	margin: 0 60px;
	background-color: #072230;
	color: #ff7070;
	max-width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}

.flex-container:last-child {
	padding-bottom: 30px;
}

.wrapper {
	height: 100%;
}

.flex-item {
	/*margin: 0 22px 5px;*/
	height: 100%;
	align-self: stretch;
	border: none;
	position: relative;
}

.flex-item img {
	height: 180px;
	max-width: 320px;
	border: 1px solid #ff7070;
}

.flex-item img:hover {
	box-shadow: 0 0 10px #ff7070;
}

.project-info {										/* overlay */
	height: 180px;
	width: 100%;
	visibility: hidden;
	background-color: rgba(07,22,30,0.9);
	opacity: 0;
	position: absolute;
	bottom: 40px;
}

.project-info ul {
	margin: 5% auto;
}

.project-info li {
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding: 7px 0;
	font-size: 1.1em;
}

.flex-item:hover .project-info {
	visibility: visible;
	opacity: 1;
}

.flex-item p {
	padding: 10px;
	text-align: center;
}

/*-------contact/form-----*/
.contact-wrapper {
	display: flex;
	align-items: stretch;
	position: relative;
}

#contact-title {
	color: #072230;
}

/*form {
	margin: 70px auto;
	text-align: center;
	flex: 1;
}

label {
	color: #072230;
	text-transform: uppercase;
}

input {
	display: block;
	margin: 20px auto;
	padding: 10px;
	width: 300px;
	border-bottom: 1px solid #072230;
	border-right: none;
	border-left: none;
	border-top: none;
	background-color: #ffffff;
	color: #072230;
	outline: none;
}

textarea {
	display: block;
	height: 200px;
	width: 310px;
	margin: 20px auto;
	background-color: #ffffff;
	border: 1px solid #072230;

}

button {
	width: 25%;
	padding: 20px;
	background-color: #072230;
	color: white;
	letter-spacing: 2px;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	border: none;
}*/

/*.contact-header {
	margin: 50px auto;
	text-align: center;
	font-size: 1.3em;
	text-transform: uppercase;
}*/

/*.contact-header,										/*centering the social media*/
/*.social-media {
	position: relative;
	top: 100px;
}*/

.contact-lft-wrapper {
	margin: 200px auto;
	text-align: center;
	flex: 1;
	transition: 3s;
}

.contact-rt-wrapper {
	margin: 0 auto;
	display: block;
	margin: 200px auto;
	text-align: center;
}


.contact-p {											/*contact info CTA*/
	font-size: 1.1em;
	font-family: Montserrat, sans-serif;
	line-height: 1.5;
	margin: 20px 40px;
	font-weight: 300;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding: 20px 0;
}

/*#contact-title,											/*centering the contact CTA*/
/*.contact-p {
	position: relative;
	top: 100px;
}*/

.social-media {						/*icons*/
	display: block;
	text-decoration: none;
	color: #072230;
	padding: 30px
	/*margin: 20px 40px;
	position: relative;
	top: 185px;*/
}

.point {
	text-decoration: none;
	color: #072230;
	padding: 3px;
}

.go-up {							/*up arrow*/
	text-decoration: none;
	color: #072230;
	border-radius: 50px;
	border: 2px solid #072230;
	padding: 3px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.left-panel div {							/*centering the icons!*/
	display: block;
	text-align: center;
}

footer {
	background-color: #072230;
	padding: 5px 0;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
	font-weight: 300;
}

#mobile {
	display:none;
}

/*----------------Media Quieries-----*/

@media only screen and (min-width: 20em) and (max-width: 40em) {

section {
		min-height: 650px;

}

.home {
	height: 100%;

}

.logo-name {
	font-size: 1.5em;
	text-align: center;
	display: block;
}

.navbar {
	display: none;
}

.main-title {
	font-size: 2.2em;
	height: calc(font-size * 2);
	display: block;
	margin: 0 auto;

}

.about-me {
	display: block;
}

.about-rt-wrapper {
	padding: 15% 0;
}

.about-lft-wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
}

.right-panel {
	width: 100%;
	height: 600px;
}

.left-panel {
	width: 100%;
	height: 600px;
}

.contact-wrapper {
	display: block;
}

.social-media {
	top: 60px;
	margin-top: 10px;
	padding-bottom: 50px;
}

.contact-rt-wrapper {
	margin: 100px auto 0;
	padding: 50px 50px 0 50px;
}

.contact-lft-wrapper {
	margin: 100px auto 0;
}

#mobile {
	display: inline;
}

.fa-long-arrow-right::before {
	display: none;
}

}
